.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
tasks/**
.gitignore
.docfx/**
.npm/**
.nyc_output/
coverage/
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/*.gif
testAssets/**
package-lock.json