.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
.gitignore
.docfx/**
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/*.gif
testAssets/**
package-lock.json
node_modules/**